<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Commercial_CompanyEntities" connectionString="metadata=res://*/CommercialCompanyDB.csdl|res://*/CommercialCompanyDB.ssdl|res://*/CommercialCompanyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Commercial_Company;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>